export MYSECRET=$(op read op://dev/docker-login/username)
export GITHUB_USER='Bjoggis-Studios'
export JONASANDERSEN_NO_TUNNEL_SECRET=eyJBY2NvdW50VGFnIjoiZmE2MTYwMmEwMDU5NzNjMWZkMDI3ZjM5ZDhlMmVhMzciLCJUdW5uZWxTZWNyZXQiOiJRRUcza0R3ODRCVGVZdG5wM0dyTGRrelRBVmpyUTU4R1hsalIxdUs3bUM4PSIsIlR1bm5lbElEIjoiMGJjY2FjNTktYWVkMS00YjhlLTk2ODYtN2U0MGRkMmQ1MWMxIn0=
