export GITHUB_ORG='Bjoggis-Studios'
export GITHUB_TOKEN=$(op read op://dev/github-token/credential)
export JONASANDERSEN_NO_TUNNEL_SECRET=$(op read op://dev/cloudflared-developer-tunnel/credential)
export SPRING_CLOUD_CONFIG_USERNAME=$(op read op://dev/spring-cloud-config-server/username)
export SPRING_CLOUD_CONFIG_PASSWORD=$(op read op://dev/spring-cloud-config-server/password)