export GITHUB_ORG='Bjoggis-Studios'
export GITHUB_TOKEN=$(op read op://dev/github-token/credential)
export JONASANDERSEN_NO_TUNNEL_SECRET=$(op read op://dev/cloudflared-developer-tunnel/credential)
export SPRING_CLOUD_CONFIG_USERNAME=$(op read op://dev/spring-cloud-config-server/username)
export SPRING_CLOUD_CONFIG_PASSWORD=$(op read op://dev/spring-cloud-config-server/password)


# Tunnels
export BJOGGIS_COM_TUNNEL_SECRET=$(op read op://dev/cloudflared-bjoggis-tunnel/credential)

# Config server secrets
export ENCRYPT_KEY=$(op read op://dev/config-server-encrypt-key/password)
export SPRING_CLOUD_CONFIG_JDBC_URL=$(op read op://dev/spring-cloud-config-server-service/JDBC/jdbc-url)
export SPRING_CLOUD_CONFIG_JDBC_USERNAME=$(op read op://dev/spring-cloud-config-server-service/JDBC/jdbc-username)
export SPRING_CLOUD_CONFIG_JDBC_PASSWORD=$(op read op://dev/spring-cloud-config-server-service/JDBC/jdbc-password)
export SPRING_CLOUD_CONFIG_SECURITY_USERNAME=$(op read op://dev/spring-cloud-config-server-service/SECURITY/security-username)
export SPRING_CLOUD_CONFIG_SECURITY_PASSWORD=$(op read op://dev/spring-cloud-config-server-service/SECURITY/security-password)